ml, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

main {
    flex: 1;
}

header {
    margin-bottom: 20px;
}

.navbar.bg-custom {
    background-color: #beceff;
}

.colorCardsInfo {
    background-color: #F9F9FF;
}

.navbar-nav .nav-link {
    color: #000000 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item .nav-link.register,
.navbar-nav .nav-item .nav-link.login {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link.login {
    background-color: black;
    color: white !important;
}

.navbar-nav .nav-item .nav-link.register {
    background-color: white;
    color: black !important;
}

.navbar-nav .nav-item .nav-link.register:hover,
.navbar-nav .nav-item .nav-link.login:hover {
    background-color: white;
    color: #2980B9 !important;
}

.navbar-toggler {
    background-color: white;
}

section {
    margin-bottom: 40px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    color: #007bff;
}

.btn-primary {
    margin-top: 10px;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.result-box {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.result-box h3 {
    color: #007bff;
    margin-bottom: 10px;
}

.result-box p {
    margin: 0;
    color: #6c757d;
}

#notificaciones_nuevas {
    border: 5px solid #007afe;
    padding: 20px;
    margin-right: 10px;
    height: 500px;
    overflow-y: auto;
}

#notificaciones_vistas {
    border: 5px solid gray;
    padding: 20px;
    margin-left: 10px;
    height: 500px;
    overflow-y: auto;
}

#contenido_notificaciones {
    margin-top: 100px;
}

h2 {
    margin-bottom: 20px;
}

.container .row .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notificaciones_nuevas, #notificaciones_vistas {
    margin-top: 20px;
}

.notification-item {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px 0;
    height: 100%;
}

.read-notification {
    border-color: gray;
}

.notification-item h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.notification-item p {
    margin-top: 10px;
    font-size: 1em;
}

.verification-code-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#verificationCode {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    flex: 1;
    min-width: 200px;
}

.btn-secondary {
    flex-shrink: 0;
}

.footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .row {
    width: 100%;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2471A3;
}

.form-group label {
    font-weight: bold;
}

.g-recaptcha {
    margin: 0 auto;
}