<form action="/usuarios/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" name="email" id="email" required>
    </div>
    <div class="mb-3">
      <label for="contraseña" class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="contraseña" id="contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form>